restaurants.dtd

<?xml version="1.0"?>
<!DOCTYPE restaurants [
<!ELEMENT restaurants(restaurant+)>
<!ELEMENT restaurant(id,name,cuisine,city,open,close)>
<!ATTLIST restaurant id CDATA #REQUIRED>
<!ATTLIST restaurant name CDATA #REQUIRED>
<!ATTLIST restaurant cuisine CDATA>
<!ATTLIST restaurant city CDATA>
<!ATTLIST restaurant open CDATA>
<!ATTLIST restaurant close CDATA>
]>